DEBUG=false
DJANGO_SECRET_KEY=replace-me
ALLOWED_HOSTS=zalary-api.104.237.9.230.sslip.io,127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=https://balary.lol,https://www.balary.lol
CSRF_TRUSTED_ORIGINS=https://balary.lol,https://www.balary.lol,https://zalary-api.104.237.9.230.sslip.io
DATABASE_URL=postgresql://zalary:replace-me@postgres:5432/zalary
POSTGRES_USER=zalary
POSTGRES_PASSWORD=replace-me
POSTGRES_DB=zalary
REDIS_URL=redis://redis:6379/0
COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
ZALARY_CHAIN_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
ZALARY_STABLECOIN_ADDRESS=0xC1A5B41512496B80903D1f32d6dEa3a73212E71F
ZALARY_STABLECOIN_SYMBOL=USD₮0
ZALARY_STABLECOIN_DECIMALS=6
ZALARY_VAULT_ADDRESS=0xBBDDd3fFa53385c4149A0513F1E06FF36BC85020
ZALARY_GATEWAY_ADDRESS=0xf69CaAF395af6A7DeCB0ac2f86430E6c889A8216
ZALARY_FCC_EXTENSION_ID=66209
ZALARY_FCC_PROXY_URL=https://payroll-fcc.balary.lol
ZALARY_TEE_AUTH_MODE=onchain
ZALARY_TEE_ID=0x144C0FFbF98C5029E94DA4F75F27f325d2BA1BB0
ZALARY_TEE_PROXY_SIGNER=0xFf92e0231756Ee0444694C80F459Bf69e5beCe6D
ZALARY_TEE_SIGNER_EPOCH=1
ZALARY_TEE_LIFECYCLE_ENABLED=true
ZALARY_RELAYER_PRIVATE_KEY=replace-with-testnet-relayer-private-key
ZALARY_FIELD_ENCRYPTION_KEY=replace-me
ZALARY_APP_URL=https://balary.lol
ZALARY_AUTH_DOMAIN=balary.lol
ZALARY_AUTH_URI=https://balary.lol
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
